@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap");
/* @mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
} */
/* .header-title {  
   font-size: 2rem;  

   @include for-phone-only {    
      font-size: 1rem; 
   }
} */
/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000000;
  font-size: 16px;
  line-height: 1.2;
  font-family: "arial";
  font-weight: normal;
  letter-spacing: 0;
  background-color: #4f46e5;
}

li {
  text-transform: capitalize;
  list-style-type: none;
  /* list-style-type: square;
  list-style-position: inside; */
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: "ALK Life";
  src: url("../fonts/alk-life-webfont.eot"); /* IE9 Compat Modes */
  src: url("../fonts/alk-life-webfont.woff2") format("woff2"), url("../fonts/alk-life-webfont.woff") format("woff"), url("../fonts/alk-life-webfont.ttf") format("truetype");
}
fieldset {
  border: 0;
}

legend {
  display: none;
}

/* End of global styles */
#header {
  background: linear-gradient(red 10%, rgba(254, 181, 44, 0.5) 30%, rgba(255, 255, 255, 0));
}
@media screen and (max-width: 768px) {
  #header {
    background: pink;
  }
}

h1 {
  width: 11.5625rem;
  height: 41px;
}

h1 a {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* font-size: 0; */
  text-indent: -999999px;
  background-color: pink;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  background-size: 100% 50px; /* width heigh */
  background-size: 100% auto;
  background-size: auto 50%;
  background-position: center bottom; /* horizontal vertical */
  background-position: right center;
  background-position: 5% 50px;
  background-position: center center;
  /* მოკლე ფორმა */
  background: pink url(../images/logo.png) no-repeat center center;
  background-size: cover;
}

nav > ul {
  position: relative;
  /* overflow: hidden; */
  background: pink;
}

nav > ul > li {
  display: inline-block;
  /* float: left; */
}

nav ul li a {
  display: inline-block;
  font-family: "ALK Life";
  font-family: "Tagesschrift", Arial;
  position: relative;
}

nav ul li a:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 40%;
  /* background: green; */
  transform: rotate(45deg);
  z-index: 1;
  border-left: 1px solid rgb(53, 0, 128);
  border-top: 1px solid rgb(53, 0, 128);
}

nav ul li a:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 40%;
  /* background: green; */
  transform: rotate(45deg);
  z-index: 1;
  border-right: 1px solid green;
  border-bottom: 1px solid green;
}

nav > ul > li > a::first-letter {
  font-weight: bold;
  color: red;
}

nav > ul > li > a::first-line {
  background: green;
}

nav > ul > li.last-li {
  float: right;
}

nav > ul li ul {
  display: none;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 25px;
}

nav > ul li:hover ul {
  display: block;
}

#header p {
  width: 120px;
  height: 55px;
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: hidden;
  background: #ffc;
}

.product {
  display: inline-block;
  width: 23.06%;
  /* margin-right: 32px; */
  margin-right: 2.58%;
  /* margin-right: 2rem; */
  margin-bottom: 32px;
  position: relative;
}
.product__img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.product__discount {
  display: inline-block;
  width: 48px;
  height: 48px;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #e97171;
  border-radius: 50%;
  padding-top: 12px;
  border: 1px solid #ffe8e8;
  /*  box-shadow: 2px 2px 5px #000; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6), inset 2px 2px 3px rgba(255, 74, 74, 0.8);
  /* box-shadow: -2px -2px 5px #000; */
  position: absolute;
  top: 24px;
  right: 8.4%;
}
.product__info {
  /* width: 100%; */
  width: 87.36%;
  /* width: 11%; */
  /*  padding: 16px 18px 30px 18px; */
  /* padding: 16px 6% 30px 6%; */
  margin: 16px auto 30px auto;
}

.up {
  display: inline-block;
  width: 48px;
  height: 48px;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #64ff9f;
  padding-top: 12px;
  border: 1px solid #ffe8e8;
  /*  box-shadow: 2px 2px 5px #000; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6), inset 2px 2px 3px rgba(74, 255, 161, 0.8);
  /* box-shadow: -2px -2px 5px #000; */
  position: fixed;
  /*  position: relative; */
  bottom: 24px;
  right: 24px;
}

/* transform */
.line {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.original,
.box {
  border-radius: 6px;
}

/* o	li:first-child {}  - პირველი შვილი
o	li:last-child {}   - ბოლო შვილი
o	li:only-child {}  - ერთადერთი შვილი
o	li:nth-child(2) {}  - მეორე ელემენტი
o	li:nth-child(odd) {} - კენტი ელემენტები
o	li:nth-child(even) {}  - ლუწი ელემენტები */
.original {
  background: #eaeaed;
  border: 1px solid #cecfd5;
  float: left;
  margin: 50px 50px;
}

.original:nth-of-type(2) {
  background: #e97171;
}

.original:nth-of-type(4n + 1) {
  background: #c300ca;
}

.original:nth-of-type(2n + 1) {
  background: #c300ca;
}

.box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  background: #2db34a;
  text-align: center;
  margin: 50px 50px;
}

/* .box[title^="m"] {
  background: #ae004e;
}
.box[title*="k"] {
  background: #9fae00;
} */
/**/
.box-1:hover {
  transform: rotate(20deg);
}

.box-2:hover {
  transform: rotate(-20deg);
}

.box-rotate {
  transform: rotate(45deg);
}

.box-rotate span {
  display: inline-block;
  transform: rotate(-45deg);
}

/**/
.box-3:hover {
  /*  transform:scale(-0.75); */
  transform: scale(0.75);
}

.box-4:hover {
  transform: scale(1.75);
  transform: scale(2.75);
}

/**/
.box-5:hover {
  transform: translateX(-10px);
}

.box-6:hover {
  transform: translateY(25%);
}

.box-7:hover {
  transform: translate(-10px, 25%);
}

/**/
.box-8:hover {
  transform: skewX(-5deg);
}

.box-9:hover {
  transform: skewY(-25deg);
}

.box-10:hover {
  transform: skew(5deg, -25deg);
}

.box-skew {
  transform: skewX(10deg);
}

.box-skew span {
  display: inline-block;
  transform: skewX(-10deg);
}

/**/
.box-11:hover {
  transform: rotate(25deg) scale(0.75);
}

.box-12:hover {
  transform: skew(5deg, -25deg) translate(20px);
}

.box {
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
  background: red;
  background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

.box-1 {
  background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
  background: linear-gradient(-65deg, red, blue); /* Standard syntax */
}

.box-2 {
  background: linear-gradient(to right, red 70%, blue); /* Standard syntax */
}

.box-3 {
  /* background: linear-gradient(to bottom right, silver , pink); */ /* Standard syntax */
}

.box-4 {
  /* background: linear-gradient(to left top, silver , pink); */ /* Standard syntax */
}

.box-5 {
  /* background: radial-gradient(red, green, blue); */ /* Standard syntax */
  /* background-image: radial-gradient(circle, red, yellow, green); */ /*circle or ellipse*/
  /*   background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
   background-image: radial-gradient(closest-side at 60% 55%, red, green, blue); */
}

/* transition */
.transitions {
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
  background: green;
}

.transitions div {
  width: 100px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin: 50px auto;
  border-radius: 6px;
  background: #d10000;
  transition: color 3s ease 5s;
}

.transitions:hover div {
  width: 850px;
  color: #2db34a;
}

.transitions div.ease {
  /*  transition: all 3s ease 5s; */
  /*transition-delay: 3s;
  transition-duration: 3s;
  transition-property: all;
  transition-timing-function: ease;*/
}

.transitions div.linear {
  transition: all 8s linear 0s;
}

.transitions div.easein {
  transition: all 13s ease-in 1s;
}

.transitions div.easeout {
  transition: all 15s ease-out 2s;
}

.transitions div.easeinout {
  transition: all 3s ease-in-out 5s;
}

/* animation */
.animation,
.animation > .box {
  border-radius: 6px;
}

.animation {
  width: 50%;
  height: 500px;
  background: #eaeaed;
  border: 1px solid #cecfd5;
  margin: 150px auto;
}

.animation > .box {
  display: block;
  width: 60%;
  height: 350px;
  line-height: 350px;
  text-align: center;
  margin: 75px auto;
  background: #2db34a;
  /*opacity: 0;
  animation*/
  animation-name: myAnimation3;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite; /*infinite/ 1,2..n  */
  animation-direction: alternate; /* reverse,alternate,alternate-reverse */
  animation-timing-function: linear; /* ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n) */
  animation-fill-mode: forwards; /* forwards, backwards, both */
}

@keyframes myAnimation1 {
  from {
    transform: rotate(0deg);
    background: pink;
  }
  to {
    transform: rotate(360deg);
    background: linear-gradient(to left top, red, orange, yellow, green, blue, indigo, violet);
  }
}
@keyframes myAnimation2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
    background: #000;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
    background: yellow;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myAnimation3 {
  0% {
    background: pink;
  }
  100% {
    background: yellow;
  }
}
.test-box {
  background: #2db34a;
  height: 700px;
  line-height: 500px;
  text-align: center;
  width: 500px;
  /* background: red;
  background: -webkit-linear-gradient(red,orange,yellow,green,blue,indigo,violet);
  background: -o-linear-gradient(red,orange,yellow,green,blue,indigo,violet);
  background: -moz-linear-gradient(red,orange,yellow,green,blue,indigo,violet); */
  background: linear-gradient(to left top, red, orange, yellow, green, blue, indigo, violet);
}

.test-box {
  background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
  background: linear-gradient(-65deg, red, blue); /* Standard syntax */
}

.test-box {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 50px, rgba(0, 0, 0, 0)); /* Standard syntax */
}

.box-3 {
  background: linear-gradient(to bottom right, silver, pink); /* Standard syntax */
}

.box-4 {
  background: linear-gradient(to left top, silver, pink); /* Standard syntax */
}

.test-box {
  background: radial-gradient(red, green, blue); /* Standard syntax */
  background-image: radial-gradient(circle, red, yellow, green); /*circle or ellipse*/
  /* background-image: repeating-radial-gradient(red, yellow 10%, green 15%);*/
  background-image: radial-gradient(closest-side at 60% 55%, red, green, blue);
}

/* flex */
/* Flex Container და Flex Items
Main Axis(მთავარი ღერძი) და Cross Axis(მკვეთი ღერძი)
flex-direction
flex-wrap და flex-flow
justify-content
align-items და align-self
Flex Items - flex-grow, flex-shrink, flex-basis, order
 */
.container {
  display: flex;
  width: 64.375%;
  height: 500px;
  /* flex-wrap: wrap; */
  /* flex-direction: column;
  flex-direction: row; */
  /* flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse; */
  /*  justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: center; */
  /*  margin: 20px; */
  /*   align-items: flex-end; */
  align-items: center;
  gap: 32px;
  background: pink;
}

.container .item {
  width: 40px;
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 385px; */
  background: #ffc;
}

.container .item--2 {
  order: -1;
  background: rgb(204, 213, 255);
}

.container .item--3 {
  order: 3;
  background: rgb(204, 213, 255);
}

.container .item--4 {
  order: 1;
  background: rgb(204, 213, 255);
}

.container .item--5 {
  order: 2;
  align-self: flex-end;
  background: rgb(204, 213, 255);
}

/* grid */
.container-grid {
  display: grid;
  /* grid-template-rows:50px 50px; */
  /* e.g. 
      min-content 1fr min-content
      100px 1fr max-content
  */
  /* grid-template-columns: 250px 1fr 2fr; */
  /* e.g. 
      1fr 1fr
      minmax(10px, 1fr) 3fr
      repeat(5, 1fr)
      50px auto 100px 1fr
  */
  /* row-gap: 50px;
  column-gap: 50px;
  gap: 30px; */
  /* justify-items:center;
  align-items:center */
  grid-template-areas: "item--1 item--1 item--1" "item--2 . item--3" "item--2 . item--3" "item--4 . item--3" "item--5 item--5 item--5";
}
@media print {
  .container-grid {
    display: none;
  }
}

.container-grid .item {
  background: rgb(224, 204, 255);
}

.container-grid .item--1 {
  grid-area: item--1;
  /* grid-column: 1 / 3; */
  background: #ffc;
}

.container-grid .item--2 {
  /* grid-column: 1 / 3; */
  grid-area: item--2;
  background: rgb(204, 218, 255);
}

.container-grid .item--3 {
  grid-area: item--3;
  /* grid-column: 1 / 3; */
  background: rgb(243, 204, 255);
}

.container-grid .item--4 {
  grid-area: item--4;
  /*  grid-column: 1 / 3; */
  background: rgb(255, 204, 213);
}

.container-grid .item--5 {
  grid-area: item--5;
  /* grid-column: 1 / 3; */
  background: rgb(255, 231, 204);
}

body {
  /* background: pink; */
  /* desktop first */
  /*  @media screen and (max-width: 1366px) {
    background: #64ff9f;
  }

  @media screen and (max-height: 480px) and (orientation: landscape) {
    div {
      border: 2px solid blue;
    }
  }
  @media screen and (max-height: 480px), (orientation: landscape) {
    div {
      border: 2px solid blue;
    }
  }
  @include for-desktop-up {
    background: #64ff9f;
  }

  @media screen and (max-width: 1024px) {
    background: #c300ca;
  }

  @media screen and (max-width: 768px) {
    background: #e97171;
  }

  @media screen and (max-width: 480px) {
    background: #71e971;
  } */
  /* mobile first */
  /* @media screen and (min-width: 360px) {
    background: #c771e9;
  }
  @media screen and (min-width: 480px) {
    background: #71d3e9;
  }
  @media screen and (min-width: 768px) {
    background: #8971e9;
  }
  @media screen and (min-width: 1024px) {
    background: #d571e9;
  }
  @media screen and (min-width: 1366px) {
    background: #8171e9;
  } */
}

/* @media screen and (max-width: 1366) {
  body {
    background: pink;
  }
}
@media screen and (max-width: 1024) {
  body {
    background: rgb(255, 74, 105);
  }
} */
/* Exact width */
@media (width: 360px) {
  div {
    color: red;
  }
}
/* Media query */
@media screen and (min-width: 900px) {
  div {
    color: red;
  }
}
/* Minimum width */
@media (min-width: 35rem) {
  div {
    background: yellow;
  }
}
/* Maximum width */
@media (max-width: 50rem) {
  div {
    border: 2px solid blue;
  }
}
/* Exact height */
@media (height: 360px) {
  div {
    color: red;
  }
}
/* Minimum height */
@media (min-height: 25rem) {
  div {
    background: yellow;
  }
}
/* Maximum height */
@media (max-height: 40rem) {
  div {
    border: 2px solid blue;
  }
}
@media screen and (orientation: landscape) {
  div {
    border: 2px solid blue;
  }
}
@media screen and (orientation: portrait) {
  div {
    border: 2px solid blue;
  }
}
/* Exact resolution */
@media (resolution: 150dpi) {
  p {
    color: red;
  }
}
/* Minimum resolution */
@media (min-resolution: 72dpi) {
  p {
    font-size: 1.5em;
  }
}
/* Maximum resolution */
@media (max-resolution: 300dpi) {
  p {
    background: yellow;
  }
}
@media print {
  header {
    display: none;
  }
}
@media screen and (min-width: 360px) {
  .original {
    background: pink;
  }
}
@media screen and (min-width: 640px) {
  .original {
    background: #000;
    height: 800px;
  }
}
@media screen and (min-width: 768px) {
  .original {
    background: yellow;
  }
}
@media screen and (min-width: 1024px) {
  .original {
    background: rgb(0, 129, 96);
  }
}
@media screen and (min-width: 360px) {
  .original {
    background: rgb(0, 129, 96);
  }
}
@media screen and (min-width: 960px) {
  .original {
    background: rgb(108, 0, 129);
  }
}
@media screen and (min-width: 1024px) {
  /* selector{} */
}
input,
select,
textarea {
  outline: none;
}/*# sourceMappingURL=styles.css.map */